@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600&display=swap");

html, body {
    height: 100%;
}

body {
    font-family: "Rubik", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 15px;
}
