* * * * * /usr/local/bin/cronjob.sh update_houses >> /var/log/cron.log 2>&1
0 * * * * /usr/local/bin/cronjob.sh update_players >> /var/log/cron.log 2>&1
0 * * * * /usr/local/bin/cronjob.sh update_organizations >> /var/log/cron.log 2>&1
